// Singularity containter cache. Change this as appropriate
singularity {
	cacheDir = "/scratch/project/gihcomp/MET/pipeline/singularity"
}

// Process settings. Set job scheduler if appropriate (SLURM, PBS e.g.)
// If your job scheduler has different queues/partitions for cpu and gpu, please also set them here
process {
        executor='slurm'
	clusterOptions = '--partition=general'
	//clusterOptions = '--exclude=v[1-4]'
}

// Default parameters. Commandline parameters will take priority over these
params {
        outdir = './results'
        //barcode = '/scratch/project/gihcomp/valentine/DIS/PIPELINE/data/barcoded_primers.fasta'
	skip_porechop = false
	porechop_args = ""
	porechop_threads = 4
	//ccs_args = " --min-rq 0.9"
	//refine_args = "--require-polya"
}

mounts {
        outdir = "-B \"`[[ \"${params.outdir}\" =~ ^/ ]] && echo ${params.outdir} || echo ${PWD}/${params.outdir}`\""
        //datadir = "-B \"`[[ \"${params.datadir}\" =~ ^/ ]] && echo ${params.datadir} || echo ${PWD}/${params.datadir}`\""
}

singularity {
    enabled = true
    autoMounts = false
    runOptions = "-B \"$launchDir\" $mounts.outdir"
    //runOptions = "-B \"$launchDir\" $mounts.datadir $mounts.outdir"
}

// Not generally user-modifiable !!!
process {
        //withName: lima { container = 'docker://quay.io/biocontainers/lima:2.2.0--h9ee0642_0' }
	withName: porechop { container = 'docker://quay.io/biocontainers/porechop:0.2.4--py310h30d9df9_3' }
	//withLabel: isoseq { container = 'docker://quay.io/biocontainers/isoseq3:3.4.0--0'}
	//withLabel: pbmm2 { container = 'docker://quay.io/biocontainers/pbmm2:1.10.0--h9ee0642_0' }
}

// Debug and report options
trace {
  enabled = true
  file = "${params.outdir}/trace.txt"
  overwrite = true
}
timeline {
  enabled = true
  file = "${params.outdir}/timeline.html"
  overwrite = true
}
report {
  enabled = true
  file = "${params.outdir}/report.html"
  overwrite = true
}
dag {
  enabled = true
  file = "${params.outdir}/flowchart_dag.svg"
  overwrite = true
}

manifest {
  name = ''
  author = 'Valentine Murigneux, Dean Basic'
  description = 'MET analysis pipeline'
  mainScript = 'main.nf'
  version = '0.1'
}

